extends layout
block data
    -
        var content = {
        kdo_jsem:{ order: [1,0], data: [
        {name: "KDO JSEM", type: "txt", id: "kdo_jsem", text: "Dobrý den, jmenuji se Vojtěch Gaďurek a baví mě matematika a to jako ona samotná tak i její doučovaní. V součastnosti jsem studentem oktávy pražského gymnázia PORG. Příštím rokem bych rád zamířil na MATFYZ. Velkou část prázdnin trávím, jako vedoucí ná táborech."},
        { type:"img", src: "images/ja02.png"}
        ]
        }
        }
        var order_content = [
        "kdo_jsem"

        ]